* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --ancho-maximo: 2560px; */ /* Define una variable CSS llamada --color-primario */
  }

body {
    display: flex;
    flex-direction: column;
}

.nav {
    
    background-color: #bcadade7;
    padding: 0.5rem;
    display: flex;
    justify-content: left;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none; /* Elimina el subrayado */
    color: white;
}

main {
    /* height: 300px; */
    background-color: #81ff0b00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.top {
    max-width: 100%;
    gap: 2rem;
    display: flex;
    flex-grow: 2;
    justify-content: center;
}

.contenedor-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}


.activo {
    border-bottom: 2px solid #f58f00;
}

.bi {
    color: white;
    font-size: 30px;
    padding: 1rem;
}

.bi-house-fill{
    padding: 0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgba(43,48,53,1);
    padding: 0.5rem;

}

.pie {
    max-width: var(--ancho-maximo);
    width: 100%;
    gap:2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0.5rem;
    
}

.hero_1 {
    max-width: var(--ancho-maximo);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-block: 1rem;
}

.hero_font {
    font-size: 1rem;
}

.hero_house {
    width: 300px; 
    height: 200px; 
}

.acerca_nosotros {
    display: flex;
    align-items: center;
    
}
.collage {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

.acerca_larga {
    width: 100px;
    height: 200px;
}

.acerca_ancha {
    width: 300px;
    height: 200px;
    margin: 5px;
}

.acerca_pequena {
    width: 140px;
    height: 140px;
    margin: 5px;   
}

.acerca_font {
    font-size: 0.5rem;
    font-size: 1rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.acerca_mensaje {
    display: flex;
    flex-direction: column;
}

.acerca_botones {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.a_boton {
    padding: 1rem;
    border: #f58f00 solid 2px;
    border-radius:0.5rem;
    background-color: #ffc36f;
}

.main_formulario {
    display: flex;
  

}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-right: 2rem;
    border-right: 5px solid #cbbaa2;
}

.contacto_img {
    width: 100%;
}

.casilla2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.planimetria_galeria {
    width: 200px;
    height: 100px;
    /* width: 100%; */
}

.planimetria_nombre_casa {
    font-size: 1rem;
}

.planimetria_descripcion {
    font-size: 0.5rem;
}

.galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.galeria_filas {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.galeria_carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    gap:0.5rem
}

.ficha_casa {
    display: flex;
    flex-direction: column;

}

.carta_casa {
    padding: 2rem;
}

.carta_detalle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.detalle {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.5rem;
}
.planos {
    width: 300px;
    height: 300px;
    padding: 1rem;
    margin-top: 1rem;
}

.container-fluid {
    max-width: var(--ancho-maximo);
}

.menu-item {
    color: white;
}

@media screen and (max-width: 768px) {
    .texto {
      display: none;
    }

    .pie {
        justify-content: center;
    }

    .contenedor-menu {
        gap: 5rem;
    }
  }

  div {
   
    max-width: 100%;
    width: 100%;
  }