.main_formulario {
  width: $ancho-maximo;
  background-image: url("../img/contacto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

.main_formulario_2 {
  width: 33%;
  display: flex;
  justify-content: left;
}

.formulario {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  /* top: 80; 
    left: 30; */
  margin: 20px;
  margin-left: 150px;
}