// acerca
@media screen and (max-width: $ancho-maximo) {
    .contenedor {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
  .mision {
    width: 90%;
    margin: 0.5rem;
    margin-top: 1.5rem;
  }
  .tamano_boton {
    font-size: 1rem;
  }
  .collage {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

@media screen and (min-width: 700px) {
  .efecto {
    &:hover {
      
      transform: scale(1.25);

    }
  }
}

// contacto
@media screen and (max-width: 1030px) {

    .main_formulario {
        width: 100%;
        background-image: none;
        background-size: none;
        background-repeat: none;
        background-attachment: none;
        //margin-block: 20px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main_formulario_2 {
        width: 100%;
        justify-content: center;
    }

    .formulario {
        width: 75%;
        justify-content: center;
        margin: 10px;
        position: relative;
    }

}

// footer
@media screen and (max-width: 768px) {
  .texto {
    display: none;
  }

  .pie {
    justify-content: center;
  }

  .contenedor-menu {
    gap: 4rem;
    padding-left: 0;
  }
}